In [1]:
# import the libraries
import pandas as pd
import numpy as np

In [2]:
# import datasets 
df_orders = pd.read_csv('orders_and_shipments.csv',encoding='ISO-8859-1')
df_inventory = pd.read_csv('inventory.csv') 
df_fulfillment = pd.read_csv('fulfillment.csv')

In [3]:
df_orders.head()

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Customer Country,Warehouse Country,Shipment Year,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,2,27,Standard Class,4,400,0.25,200
1,4133,10320,201503,2015,3,2,07:37,1,Fan Shop,Fishing,...,Brazil,Puerto Rico,2015,3,6,Standard Class,4,400,0.09,200
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,4,20,Standard Class,4,400,0.06,200
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.15,200
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.13,200

In [4]:
df_inventory.head()

,Product Name,Year Month,Warehouse Inventory,Inventory Cost Per Unit
0,Perfect Fitness Perfect Rip Deck,201712,0,0.69517
1,Nike Men's Dri-FIT Victory Golf Polo,201712,2,1.29291
2,O'Brien Men's Neoprene Life Vest,201712,0,0.56531
3,Nike Men's Free 5.0+ Running Shoe,201712,1,1.26321
4,Under Armour Girls' Toddler Spine Surge Runni,201712,0,1.47648

In [5]:
df_fulfillment.head()

,Product Name,Warehouse Order Fulfillment (days)
0,Perfect Fitness Perfect Rip Deck,8.3
1,Nike Men's Dri-FIT Victory Golf Polo,6.6
2,O'Brien Men's Neoprene Life Vest,5.5
3,Nike Men's Free 5.0+ Running Shoe,9.4
4,Under Armour Girls' Toddler Spine Surge Runni,6.3

In [6]:
df_orders.isna().sum()

 Order ID                      0
 Order Item ID                 0
 Order YearMonth               0
 Order Year                    0
 Order Month                   0
 Order Day                     0
Order Time                     0
Order Quantity                 0
Product Department             0
Product Category               0
Product Name                   0
 Customer ID                   0
Customer Market                0
Customer Region                0
Customer Country               0
Warehouse Country              0
Shipment Year                  0
Shipment Month                 0
Shipment Day                   0
Shipment Mode                  0
 Shipment Days - Scheduled     0
 Gross Sales                   0
 Discount %                    0
 Profit                        0
dtype: int64

In [7]:
df_inventory.isna().sum()

Product Name               0
 Year Month                0
 Warehouse Inventory       0
Inventory Cost Per Unit    0
dtype: int64

In [8]:
df_fulfillment.isna().sum()

Product Name                            0
 Warehouse Order Fulfillment (days)     0
dtype: int64

In [9]:
df_orders.duplicated().sum()

0

In [10]:
df_inventory.duplicated().sum()

0

In [11]:
df_fulfillment.duplicated().sum()

0

In [12]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30871 entries, 0 to 30870
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0    Order ID                    30871 non-null  int64
 1    Order Item ID               30871 non-null  int64
 2    Order YearMonth             30871 non-null  int64
 3    Order Year                  30871 non-null  int64
 4    Order Month                 30871 non-null  int64
 5    Order Day                   30871 non-null  int64
 6   Order Time                   30871 non-null  object
 7   Order Quantity               30871 non-null  int64
 8   Product Department           30871 non-null  object
 9   Product Category             30871 non-null  object
 10  Product Name                 30871 non-null  object
 11   Customer ID                 30871 non-null  int64
 12  Customer Market              30871 non-null  object
 13  Customer Region              30871 non-null  object
 14  Customer Country             30871 non-null  object
 15  Warehouse Country            30871 non-null  object
 16  Shipment Year                30871 non-null  int64
 17  Shipment Month               30871 non-null  int64
 18  Shipment Day                 30871 non-null  int64
 19  Shipment Mode                30871 non-null  object
 20   Shipment Days - Scheduled   30871 non-null  int64
 21   Gross Sales                 30871 non-null  int64
 22   Discount %                  30871 non-null  object
 23   Profit                      30871 non-null  int64
dtypes: int64(14), object(10)
memory usage: 5.7+ MB

In [13]:
df_inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product Name             4200 non-null   object
 1    Year Month              4200 non-null   int64
 2    Warehouse Inventory     4200 non-null   int64
 3   Inventory Cost Per Unit  4200 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 131.4+ KB

In [14]:
df_fulfillment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 2 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Product Name                          118 non-null    object
 1    Warehouse Order Fulfillment (days)   118 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.0+ KB

In [15]:
# using strip fn removing unwanted spaces from columns name
dataframes = [df_inventory, df_orders, df_fulfillment]

for df in dataframes:
  df.columns = df.columns.str.strip()

In [16]:
df_orders.columns

Index(['Order ID', 'Order Item ID', 'Order YearMonth', 'Order Year',
       'Order Month', 'Order Day', 'Order Time', 'Order Quantity',
       'Product Department', 'Product Category', 'Product Name', 'Customer ID',
       'Customer Market', 'Customer Region', 'Customer Country',
       'Warehouse Country', 'Shipment Year', 'Shipment Month', 'Shipment Day',
       'Shipment Mode', 'Shipment Days - Scheduled', 'Gross Sales',
       'Discount %', 'Profit'],
      dtype='object')

In [17]:
df_inventory.columns

Index(['Product Name', 'Year Month', 'Warehouse Inventory',
       'Inventory Cost Per Unit'],
      dtype='object')

In [18]:
df_fulfillment.columns

Index(['Product Name', 'Warehouse Order Fulfillment (days)'], dtype='object')

In [20]:
df_orders.columns

Index(['Order ID', 'Order Item ID', 'Order YearMonth', 'Order Year',
       'Order Month', 'Order Day', 'Order Time', 'Order Quantity',
       'Product Department', 'Product Category', 'Product Name', 'Customer ID',
       'Customer Market', 'Customer Region', 'Customer Country',
       'Warehouse Country', 'Shipment Year', 'Shipment Month', 'Shipment Day',
       'Shipment Mode', 'Shipment Days - Scheduled', 'Gross Sales',
       'Discount %', 'Profit'],
      dtype='object')

In [21]:
df_orders['Discount %'].sample(30)

17496      -
14080      0.2
3057      0.18
15745      0.2
2993      0.02
7869      0.05
1934       -
9857      0.04
15048     0.18
28695     0.18
15384     0.17
17577     0.17
13882     0.15
24790     0.18
20728     0.12
12386     0.17
28768     0.09
7839       -
14998     0.15
12742     0.25
16382     0.09
942       0.05
25015     0.09
19709     0.01
968       0.02
26409     0.02
15645     0.03
16103     0.07
1561      0.03
22379     0.01
Name: Discount %, dtype: object

In [22]:
# Convert the '-' values to 0 in the 'Discount %' column and then change the data type from object to float
df_orders['Discount %'] = df_orders['Discount %'].replace('  -  ', 0).astype(float)

In [23]:
df_orders.columns

Index(['Order ID', 'Order Item ID', 'Order YearMonth', 'Order Year',
       'Order Month', 'Order Day', 'Order Time', 'Order Quantity',
       'Product Department', 'Product Category', 'Product Name', 'Customer ID',
       'Customer Market', 'Customer Region', 'Customer Country',
       'Warehouse Country', 'Shipment Year', 'Shipment Month', 'Shipment Day',
       'Shipment Mode', 'Shipment Days - Scheduled', 'Gross Sales',
       'Discount %', 'Profit'],
      dtype='object')

In [24]:
# Make new columns: Order Datetime and Shipment Datetime
df_orders['Order Datetime'] = pd.to_datetime(df_orders['Order Year'].astype(str) + '-' + df_orders['Order Month'].astype(str) + '-' + df_orders['Order Day'].astype(str) + ' ' + df_orders['Order Time'])
df_orders['Shipment Datetime'] = pd.to_datetime(df_orders['Shipment Year'].astype(str) + '-' + df_orders['Shipment Month'].astype(str) + '-' + df_orders['Shipment Day'].astype(str))

# Displaying the result
df_orders[['Order Datetime', 'Shipment Datetime']].head()

       Order Datetime Shipment Datetime
0 2015-02-21 14:07:00        2015-02-27
1 2015-03-02 07:37:00        2015-03-06
2 2015-04-18 22:47:00        2015-04-20
3 2015-06-10 22:32:00        2015-06-12
4 2015-06-10 22:32:00        2015-06-12

In [25]:
# Drop unnecessary columns
df_orders.drop(columns=['Order Year', 'Order Month', 'Order Day', 'Order Time',
                        'Shipment Year', 'Shipment Month', 'Shipment Day'], inplace=True)

In [26]:
df_orders['Customer Country'].unique()

array(['Mexico', 'Brazil', 'Denmark', 'Netherlands', 'Germany', 'China',
       'Indonesia', 'Pakistan', 'India', 'USA', 'Hungary', 'Sudan',
       'Democratic Republic of Congo', 'Poland', 'Togo', 'Guatemala',
       'Panama', 'Chile', 'France', 'Sweden', 'Dominican\xa0Republic',
       'Venezuela', 'South Korea', 'Madagascar', 'Iran', 'Cuba',
       'Nicaragua', 'United Kingdom', 'Afghanistan', 'Singapore',
       'Morocco', 'Spain', 'Niger', 'Turkey', 'South Africa', 'Iraq',
       'Honduras', 'Italy', 'Australia', 'Cote d\x92Ivoire', 'Croatia',
       'Ecuador', 'Syria', 'Haiti', 'Bangladesh', 'Argentina', 'Romania',
       'El Salvador', 'Vietnam', 'Japan', 'Nigeria', 'Belarus',
       'Uzbekistan', 'Egypt', 'Albania', 'Georgia', 'Cameroon',
       'Colombia', 'New zealand', 'Canada', 'Thailand', 'Senegal',
       'Russia', 'PerÃº', 'Algeria\xa0', 'Ukraine', 'Belgium',
       'Philippines', 'Austria', 'Uruguay', 'Malaysia', 'Hong Kong',
       'Saudi Arabia', 'Switzerland', 'Ireland', 'Bulgaria', 'Zambia',
       'Jamaica', 'Ghana', 'Yemen', 'Norway', 'Tanzania', 'Kazakhstan',
       'Libya', 'Trinidad and Tobago', 'Finland', 'Portugal', 'Kenya',
       'Jordania', 'Bolivia', 'Gabon', 'Angola', 'Myanmar', 'Mali', 'UAE',
       'Bosnia and Herzegovina', 'Guinea', 'Cambodia', 'Papua New Guinea',
       'Rwanda', 'Israel\xa0', 'Guyana', 'Somalia', 'Barbados',
       'Guadalupe', 'Kyrgyzstan', 'BenÃ­n', 'Tunisia', 'Lithuania',
       'Montenegro', 'Costa Rica', 'Mozambique', 'Sri Lanka', 'Taiwan',
       'Czech Republic (Czechia)', 'Lesotho', 'Mongolia', 'Macedonia',
       'Zimbabwe', 'Liberia', 'Liban', 'Guinea-Bissau', 'Estonia',
       'Azerbaijan', 'Moldova', 'Republic of Congo', 'Gambia',
       'Mauritania', 'Belize', 'Qatar', 'Sierra Leona', 'Slovakia',
       'Martinique', 'Uganda', 'Namibia', 'Paraguay', 'Oman',
       'French Guiana', 'Nepal'], dtype=object)

In [27]:
#replace the special characters in the Customer Country column
df_orders['Customer Country'] = df_orders['Customer Country'].replace({
    'Dominican\xa0Republic': 'Dominican Republic',
    'Cote d\x92Ivoire': 'Cote d Ivoire', # Added a comma at the end of this line
    'PerÃº': 'Peru',
    'Algeria\xa0': 'Algeria',
    'Israel\xa0':'Israel',
    'BenÃ­n': 'Benin'
})
df_orders['Customer Country'].unique()

array(['Mexico', 'Brazil', 'Denmark', 'Netherlands', 'Germany', 'China',
       'Indonesia', 'Pakistan', 'India', 'USA', 'Hungary', 'Sudan',
       'Democratic Republic of Congo', 'Poland', 'Togo', 'Guatemala',
       'Panama', 'Chile', 'France', 'Sweden', 'Dominican Republic',
       'Venezuela', 'South Korea', 'Madagascar', 'Iran', 'Cuba',
       'Nicaragua', 'United Kingdom', 'Afghanistan', 'Singapore',
       'Morocco', 'Spain', 'Niger', 'Turkey', 'South Africa', 'Iraq',
       'Honduras', 'Italy', 'Australia', 'Cote d Ivoire', 'Croatia',
       'Ecuador', 'Syria', 'Haiti', 'Bangladesh', 'Argentina', 'Romania',
       'El Salvador', 'Vietnam', 'Japan', 'Nigeria', 'Belarus',
       'Uzbekistan', 'Egypt', 'Albania', 'Georgia', 'Cameroon',
       'Colombia', 'New zealand', 'Canada', 'Thailand', 'Senegal',
       'Russia', 'Peru', 'Algeria', 'Ukraine', 'Belgium', 'Philippines',
       'Austria', 'Uruguay', 'Malaysia', 'Hong Kong', 'Saudi Arabia',
       'Switzerland', 'Ireland', 'Bulgaria', 'Zambia', 'Jamaica', 'Ghana',
       'Yemen', 'Norway', 'Tanzania', 'Kazakhstan', 'Libya',
       'Trinidad and Tobago', 'Finland', 'Portugal', 'Kenya', 'Jordania',
       'Bolivia', 'Gabon', 'Angola', 'Myanmar', 'Mali', 'UAE',
       'Bosnia and Herzegovina', 'Guinea', 'Cambodia', 'Papua New Guinea',
       'Rwanda', 'Israel', 'Guyana', 'Somalia', 'Barbados', 'Guadalupe',
       'Kyrgyzstan', 'Benin', 'Tunisia', 'Lithuania', 'Montenegro',
       'Costa Rica', 'Mozambique', 'Sri Lanka', 'Taiwan',
       'Czech Republic (Czechia)', 'Lesotho', 'Mongolia', 'Macedonia',
       'Zimbabwe', 'Liberia', 'Liban', 'Guinea-Bissau', 'Estonia',
       'Azerbaijan', 'Moldova', 'Republic of Congo', 'Gambia',
       'Mauritania', 'Belize', 'Qatar', 'Sierra Leona', 'Slovakia',
       'Martinique', 'Uganda', 'Namibia', 'Paraguay', 'Oman',
       'French Guiana', 'Nepal'], dtype=object)

In [28]:
df_orders['Order Processing Time'] = (df_orders['Shipment Datetime'] - df_orders['Order Datetime']).dt.days
df_orders['Order Processing Time'] = df_orders['Order Processing Time'].apply(lambda x: 0 if x == -1 else x)

df_orders.sample(5)

,Order ID,Order Item ID,Order YearMonth,Order Quantity,Product Department,Product Category,Product Name,Customer ID,Customer Market,Customer Region,Customer Country,Warehouse Country,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit,Order Datetime,Shipment Datetime,Order Processing Time
7781,19838,49584,201510,1,Fan Shop,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,3215,Europe,Western Europe,Germany,USA,First Class,1,300,0.06,150,2015-10-17 13:47:00,2015-10-19,1
3135,6535,16337,201503,1,Apparel,Men's Footwear,Nike Men's CJ Elite 2 TD Football Cleat,1855,LATAM,South America,Brazil,USA,First Class,1,130,0.12,65,2015-03-06 02:21:00,2015-04-18,42
14575,47535,118833,201612,1,Golf,Shop By Sport,Under Armour Girls' Toddler Spine Surge Runni,3635,Africa,West Africa,Nigeria,USA,Standard Class,4,40,0.02,97,2016-12-29 17:11:00,2016-11-07,-53
2264,21963,54937,201511,3,Golf,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,3617,Pacific Asia,Oceania,Australia,USA,Standard Class,4,150,0.00,125,2015-11-17 14:16:00,2015-11-21,3
2366,11591,28970,201508,2,Golf,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,7672,Europe,Southern Europe,Italy,USA,Standard Class,4,100,0.25,125,2015-08-05 09:09:00,2016-08-05,365

In [29]:
# Final Check
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30871 entries, 0 to 30870
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Order ID                   30871 non-null  int64
 1   Order Item ID              30871 non-null  int64
 2   Order YearMonth            30871 non-null  int64
 3   Order Quantity             30871 non-null  int64
 4   Product Department         30871 non-null  object
 5   Product Category           30871 non-null  object
 6   Product Name               30871 non-null  object
 7   Customer ID                30871 non-null  int64
 8   Customer Market            30871 non-null  object
 9   Customer Region            30871 non-null  object
 10  Customer Country           30871 non-null  object
 11  Warehouse Country          30871 non-null  object
 12  Shipment Mode              30871 non-null  object
 13  Shipment Days - Scheduled  30871 non-null  int64
 14  Gross Sales                30871 non-null  int64
 15  Discount %                 30871 non-null  float64
 16  Profit                     30871 non-null  int64
 17  Order Datetime             30871 non-null  datetime64[ns]
 18  Shipment Datetime          30871 non-null  datetime64[ns]
 19  Order Processing Time      30871 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(9), object(8)
memory usage: 4.7+ MB

In [30]:
df_inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product Name             4200 non-null   object
 1   Year Month               4200 non-null   int64
 2   Warehouse Inventory      4200 non-null   int64
 3   Inventory Cost Per Unit  4200 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 131.4+ KB

In [31]:
df_fulfillment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 2 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Product Name                        118 non-null    object
 1   Warehouse Order Fulfillment (days)  118 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.0+ KB

In [32]:
# Export DataFrames to CSV
df_orders.to_csv('orders_and_shipment.csv', index=False)
df_inventory.to_csv('inventory.csv', index=False)
df_fulfillment.to_csv('fulfillment.csv', index=False)